<%= form_with model: @user, html: { multipart: true }, data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="field mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'text-muted form-control' %>
  </div>

  <div class="ffield mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email, class: 'text-muted form-control' %>
  </div>

  <div class="actions my-4">
    <%= f.submit t('app.save'), class: 'btn btn-outline-primary' %>
    или <%= link_to t('app.return'), :back %>
  </div>
<% end %>
