<div class="w-100 d-flex flex-column align-items-center">
  <div class="col-md-3 col-12">
    <h2 class="my-4 display-6"><%= t('password.forgot') %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: false } }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-4">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'text-muted form-control', placeholder: true  %>
      </div>

      <div class="actions my-3">
        <%= f.submit t('password.reset_password_instructions'), class: 'btn btn-outline-primary' %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
    
    <%= link_to t('app.back'), :back %>
  </div>
</div>
