<h1><%= t('event.pincode_access') %></h1>

<%= form_tag event_path(@event), method: :post, data: { turbo: false } do |f| %>
  <div class="form-group">
    <%= label t('event.pincode'), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions my-4">
    <%= submit_tag t("event.send_button"), class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to t('app.root_path'), events_path %>
