<p><%= t('app.hello') %> <%= @resource.email %>!</p>

<p><%= t('password.link_request') %></p>

<p><%= link_to t('password.change'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('password.ignore_email') %></p>
<p><%= t('password.change_terms') %></p>
