<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <%= link_to "BBQ!", root_path, class: 'navbar-brand' %>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Link1", "/path1"  %></li>
            <li><%= link_to "Link2", "/path2"  %></li>
            <li><%= link_to "Link3", "/path3"  %></li>
          </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <% if flash[:notice].present? %>
      <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert].present? %>
      <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </div>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <p>&copy; Company 2022</p>
    </div>
  </footer>

  </body>
  
</html>
