<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=<%= Rails.application.credentials.yandex_maps %>&lang=ru_RU" type="text/javascript"></script>
  </head>

  <body>

    <div class="navbar sticky-top navbar-expand navbar-light bg-light">
      <div class="container flex-row flex-nowrap">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav flex-wrap">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to t('app.profile'), current_user, class: "nav-link" %></li>
              <li class="nav-item"><%= button_to t('app.log_out'), destroy_user_session_path, method: :delete, class: "nav-link border-0
          bg-transparent" %></li>
            <% else %>
              <li class="nav-item"><%= link_to t('app.log_in'), new_user_session_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to t('app.sign_up'), new_user_registration_path, class: "nav-link" %></li>
            <% end %>
          </div>
        </div>

        </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </div>

  <footer class="fixed-bottom py-3 text-center bg-light">
    <div class="container">
      <span class="text-muted">&copy; <%= t('app.company') %> 2022</span>
    </div>
  </footer>

  </body>
  
</html>
